[Desktop Entry]
Version=1.0
Type=Application
Name=ILCMS - Rafræn Lögmannsstofa
GenericName=Legal Case Management System
Comment=100% Air-Gapped Icelandic Legal Case Management and Court Bundle System
Exec=ilcms
Icon=ilcms
Terminal=false
Categories=Office;Legal;Utility;
Keywords=Legal;Lawyer;Court;Iceland;Dómstóll;Málaskrá;
StartupNotify=true
